<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Triangle class having three point classes references -->
	<!-- autowire all the reference beans in triangle class for pointA, pointB 
		and pointC -->

	<!-- autowire [byName, byType, default, constructor] -->
	<bean id="triangle" class="com.shasu19p.beans.Triangle"
		autowire="byName">

	</bean>

	<bean id="pointA" class="com.shasu19p.beans.Point">
		<property name="x" value="100"></property>
		<property name="y" value="200"></property>
	</bean>

	<bean id="pointB" class="com.shasu19p.beans.Point">
		<property name="x" value="30"></property>
		<property name="y" value="40"></property>
	</bean>

	<bean id="pointC" class="com.shasu19p.beans.Point">
		<property name="x" value="50"></property>
		<property name="y" value="60"></property>
	</bean>

</beans>